body {
  background-color: #000;
}

.container {
  width: 890px;
  height: 1000px;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  background-color: #000;
}

.left {
  width:50%;
  height:100vh;
  float:left;
}

.right {
  width:50%;
  height:100%;
  float:right;
  position:fixed;
}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 8px;
  line-height: 23px;
  color: #814f68;
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #26262600;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}


.link {
  fill: none;
  stroke: #15ff00;
  stroke-width: 2px;
}

.label {
  text-shadow:
    -1px -1px 3px white,
    -1px  1px 3px white,
     1px -1px 3px white,
     1px  1px 3px white;
  pointer-events: none;
  font-family: sans-serif;
  dominant-baseline: central;
}

.node-circle {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3px;
}

.scroll-rectangle {
  fill: rgb(255, 0, 238);
  opacity: 0.5;
}